<div class="page-header">
  <h1>About</h1>
</div>

<div class="padding20px">
  <p>Made by <a href="mailto: ben@nerdyworm.com" class="mailto">ben</a> with love :-)</p>

  <b>Built with</b>
  <ul>
    <li><a href="http://ember.js.com" target="_blank">Ember.js</a></li>
    <li><a href="http://www.schillmania.com/projects/soundmanager2/" target="_blank">SoundManager 2</a></li>
    <li><a href="http://www.ruby-lang.org/" target="_blank">Ruby</a></li>
    <li><a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
    <li><a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
    <li><a href="http://sass-lang.com/" target="_blank">Sass</a></li>
  </ul>

  <p style="font-size: 30px"> &#x262e; &hearts; &#x266b; </p>
</div>
