<span class="dropdown">
  <a data-toggle="dropdown" class="menu-toggle">+ <b class=caret></b></a>
  <ul class="dropdown-menu left">
    <li><a>Playlist one</a></li>
    <li><a>Playlist one</a></li>
    <li><a>Playlist one</a></li>
  </ul>
</span>
