<div class=page-header>
  <h1>THANK YOU SO MUCH &hearts;</h1>
</div>

<p>Thanks for signing up for my little website.</p>
<p>It means the world to me that you took the time out of your day to fill out two text boxes!</p>
<p>Feel free to say hi to <a href="mailto:ben@nerdyworm.com" class="mailto" target="_blank">me</a> if you want :)</p>
