<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_admin_video_path(@video), class: 'btn' %>
    <%= link_to "Destroy", admin_video_path(@video), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
  </div>
  <h1><%= @video.title %></h1>
</div>

<%= image_tag @video.thumb %>
